.review-container {
    font-size: 16px;
    border-radius: 25px;
    margin: 1.50px;
}

.review-title {
    font-size: 22px;
    
}

.non-user-message {
    font-size: 25px;
    padding: 45px;
    text-align: center;
}