
.card-container {
    height: 300px; /* Adjust the desired card height */
    overflow: hidden;
}

.card-expanded {
    height: 350px;
    overflow: visible;
} 

.card-image {
    height: 250px; /* Adjust the desired image height */
    /* object-fit: cover; Maintain aspect ratio and cover the container */
}