.sidebar {
    flex: 0 0 250px; /* Sidebar width */
    color: #060505;
    padding-top: 25px;
    background-color: rgba(205, 205, 205, 0.952);
}

.sidebar a {
    color: #090707;
    text-decoration: none;
    padding: px;
    display: block;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    background-color: rgba(194, 148, 148, 0);
}

.sidebar-title a {
    color: #000000;
    font-size: 2.25rem;
    font-weight: bold;
    display: block;
}

.sidebar-title a:hover {
    color: #000000;
    text-decoration: none;
    background-color: rgba(194, 148, 148, 0.55);
}
