/* Default styles for larger screens */
.img-detail-container {
    width: 50%;
    height: 50%; /* Maintain aspect ratio based on width */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Adjust styles for smaller screens using media queries */
@media (max-width: 800px) {
    .img-detail-container {
        width: 80%;
    }
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 575px; /* Set a fixed height for the carousel */
    background-color: rgba(242, 234, 234, 0.04);
}

.img-detail {
    width: auto;
    max-height: 100%;
    display: block;
}

.winery-detail-body {
    font-size: 16px;
}

